services:
  mariadb:
    image: mariadb:12.1.2-ubi10
    container_name: ${DB_HOST}
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${DB_NAME}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

  app:
    build: .
    container_name: techbit-app
    ports:
      - "8080:8080"
    depends_on:
      - mariadb
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}

volumes:
  mariadb_data:
